<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Example 3 - Handling User Input</title>
</head>
<body>

<h2>Handling User Input</h2>

<h4>Add user</h4>

<form action="#" th:action="@{/example-3/add-user}" th:method="post" th:object="${user}">
  <table>
    <tr>
      <td><label th:text="Name"></label> </td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <td><label th:text="Age"></label> </td>
      <td><input type="text" th:field="*{age}"></td>
    </tr>
    <tr>
      <td><label th:text="Email"></label> </td>
      <td><input type="text" th:field="*{email}"></td>
    </tr>

    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>

<a href="/">Back to main page</a>

</body>
</html>