<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Example 3 - Handling User Input</title>
</head>

<body>
  <p style="color: red">User added !</p>

  <table th:object="${addedUser}">
    <tr>
      <td> Name</td>
      <td style="color: dodgerblue" th:text="*{name}"> </td>
    </tr>

    <tr>
      <td> Age</td>
      <td style="color: dodgerblue" th:text="*{age}"> </td>
    </tr>

    <tr>
      <td> Email</td>
      <td style="color: dodgerblue" th:text="*{email}"> </td>
    </tr>

  </table>

  <a href="/example-3">Back to Example 3</a>
</body>
</html>