<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <title> Spring MVC - Thymeleaf  </title>
</head>
<body>

<h1>Spring Boot (Web MVC with Thymeleaf)</h1>

<h3>List of examples</h3>

<h4>Basics</h4>

<ul>
  <li> <a href="/example-1">Example 1 - Displaying Model Attributes</a></li>
  <li> <a href="/example-2">Example 2 - Conditional Evaluation</a></li>
  <li> <a href="/example-3">Example 3 - Handling User Input</a></li>
</ul>

</body>
</html>